# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Lambda build artifacts
infra/*.zip

# Python
__pycache__/
*.py[cod]
.venv/
.env
